@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --h1span: #969696;
    --h1: #15202A;
    --h2: #15202A;
    --inputborder: #C2D3FF;
    --placeholderfont: #C2D3FF;
    --btnbg: #4C7BF3;
    --h3: white;
    --h4: #969696;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Libre Franklin", sans-serif;

}

.cont {
    width: 100%;
    max-width: 375px;
    height: auto;
    margin: 0 auto;
    padding: 85px 27px 35px 28px;
}

header {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    text-align: center;
}

h1 {
    font-size: 20px;
    line-height: 125%;
    color: #15202A;
    font-weight: 700;
    margin-top: 40px;

}

h1 span {
    color: var(--h1span);
    font-weight: 700;
}

h2 {
    color: var(--h2);
    line-height: 125%;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}

.btnbox {
    width: 282px;
    height: auto;
    margin-top: 40px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 28px;
    outline: none;
    border: 1px solid var(--inputborder);
    padding-left: 24px;
    padding-right: 24px;
}

input::placeholder {
    color: var(--placeholderfont);
    text-align: left;
    font-size: 12px;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 28px;
    background-color: var(--btnbg);
    margin-top: 8px;
    cursor: pointer;
    
}
button:hover{
    transform: translate(1.2);
    opacity: 0.75;
}

h3 {
    font-size: 12px;
    line-height: 125%;
    color: var(--h3);
    font-weight: 600;
    font-family: "Libre Franklin", sans-serif;

}

main {
    width: auto;
    height: auto;
    margin-top: 79px;
    display: grid;
    place-items: center;
}

.imgtab,
.imgdes {
    display: none;
}

footer {
    width: 203px;
    height: auto;
    margin-top: 120px;
    margin-left: 58.5px;

}

.icons {
    margin-left: 39px;
    display: flex;
    gap: 16px;
}

a {
    cursor: pointer;
}

h4 {
    font-size: 12px;
    line-height: 125%;
    color: var(--h4);
    margin-top: 24px;
    font-weight: lighter;

}

.inputerror {
    border: 1px solid #FF5466;

}

.inputtrue {
    border: 1px solid green;

}

p {
    font-size: 12px;
    line-height: 125%;
    color: #FF5466;
    margin-top: 8px;
    display: none;
}

.pshow {
    display: block;
}

.showerror {
    display: block;
}